.PlusButton,
.PlayButton,
.PauseButton,
.PrevButton,
.NextButton,
.SoundOnButton,
.SoundOffButton,
.TrashButton,
.EditButton,
.EraseButton,
.ArrowButton,
.TutorialButton,
.ShareButton {
  margin: 3.75px;
  padding: 8px;
  background: transparent;
  border: 2px solid #ffffff;
  border-radius: 100%;
  outline: none; }
  .PlusButton .number-overlayee,
  .PlayButton .number-overlayee,
  .PauseButton .number-overlayee,
  .PrevButton .number-overlayee,
  .NextButton .number-overlayee,
  .SoundOnButton .number-overlayee,
  .SoundOffButton .number-overlayee,
  .TrashButton .number-overlayee,
  .EditButton .number-overlayee,
  .EraseButton .number-overlayee,
  .ArrowButton .number-overlayee,
  .TutorialButton .number-overlayee,
  .ShareButton .number-overlayee {
    position: relative; }
  .PlusButton .left-side-button,
  .PlayButton .left-side-button,
  .PauseButton .left-side-button,
  .PrevButton .left-side-button,
  .NextButton .left-side-button,
  .SoundOnButton .left-side-button,
  .SoundOffButton .left-side-button,
  .TrashButton .left-side-button,
  .EditButton .left-side-button,
  .EraseButton .left-side-button,
  .ArrowButton .left-side-button,
  .TutorialButton .left-side-button,
  .ShareButton .left-side-button {
    left: 0px; }
  .PlusButton .right-side-button,
  .PlayButton .right-side-button,
  .PauseButton .right-side-button,
  .PrevButton .right-side-button,
  .NextButton .right-side-button,
  .SoundOnButton .right-side-button,
  .SoundOffButton .right-side-button,
  .TrashButton .right-side-button,
  .EditButton .right-side-button,
  .EraseButton .right-side-button,
  .ArrowButton .right-side-button,
  .TutorialButton .right-side-button,
  .ShareButton .right-side-button {
    right: 0px; }
  .PlusButton .number-overlay,
  .PlayButton .number-overlay,
  .PauseButton .number-overlay,
  .PrevButton .number-overlay,
  .NextButton .number-overlay,
  .SoundOnButton .number-overlay,
  .SoundOffButton .number-overlay,
  .TrashButton .number-overlay,
  .EditButton .number-overlay,
  .EraseButton .number-overlay,
  .ArrowButton .number-overlay,
  .TutorialButton .number-overlay,
  .ShareButton .number-overlay {
    font-weight: bold;
    color: black;
    text-align: center;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 100%;
    width: 100%; }
    .PlusButton .number-overlay h4,
    .PlayButton .number-overlay h4,
    .PauseButton .number-overlay h4,
    .PrevButton .number-overlay h4,
    .NextButton .number-overlay h4,
    .SoundOnButton .number-overlay h4,
    .SoundOffButton .number-overlay h4,
    .TrashButton .number-overlay h4,
    .EditButton .number-overlay h4,
    .EraseButton .number-overlay h4,
    .ArrowButton .number-overlay h4,
    .TutorialButton .number-overlay h4,
    .ShareButton .number-overlay h4 {
      margin: auto;
      padding: 7px; }
  .PlusButton.ActiveControl,
  .PlayButton.ActiveControl,
  .PauseButton.ActiveControl,
  .PrevButton.ActiveControl,
  .NextButton.ActiveControl,
  .SoundOnButton.ActiveControl,
  .SoundOffButton.ActiveControl,
  .TrashButton.ActiveControl,
  .EditButton.ActiveControl,
  .EraseButton.ActiveControl,
  .ArrowButton.ActiveControl,
  .TutorialButton.ActiveControl,
  .ShareButton.ActiveControl {
    background: rgba(204, 204, 204, 0.5); }
  .PlusButton[disabled],
  .PlayButton[disabled],
  .PauseButton[disabled],
  .PrevButton[disabled],
  .NextButton[disabled],
  .SoundOnButton[disabled],
  .SoundOffButton[disabled],
  .TrashButton[disabled],
  .EditButton[disabled],
  .EraseButton[disabled],
  .ArrowButton[disabled],
  .TutorialButton[disabled],
  .ShareButton[disabled] {
    opacity: 0.5; }

@-webkit-keyframes upRotation {
  from {
    -webkit-transform: rotate(180deg); }
  to {
    -webkit-transform: rotate(270deg); } }

@-webkit-keyframes rightRotation {
  from {
    -webkit-transform: rotate(270deg); }
  to {
    -webkit-transform: rotate(360deg); } }

@-webkit-keyframes downRotation {
  from {
    -webkit-transform: rotate(0deg); }
  to {
    -webkit-transform: rotate(90deg); } }

@-webkit-keyframes leftRotation {
  from {
    -webkit-transform: rotate(90deg); }
  to {
    -webkit-transform: rotate(180deg); } }

@-webkit-keyframes FullLeftRotation {
  from {
    -webkit-transform: rotate(0deg); }
  to {
    -webkit-transform: rotate(180deg); } }

@-webkit-keyframes FullRightRotation {
  from {
    -webkit-transform: rotate(180deg); }
  to {
    -webkit-transform: rotate(360deg); } }
  .PlusButton .EditIconRotate,
  .PlayButton .EditIconRotate,
  .PauseButton .EditIconRotate,
  .PrevButton .EditIconRotate,
  .NextButton .EditIconRotate,
  .SoundOnButton .EditIconRotate,
  .SoundOffButton .EditIconRotate,
  .TrashButton .EditIconRotate,
  .EditButton .EditIconRotate,
  .EraseButton .EditIconRotate,
  .ArrowButton .EditIconRotate,
  .TutorialButton .EditIconRotate,
  .ShareButton .EditIconRotate {
    -webkit-animation: FullRightRotation .3s ease-out;
    transform: rotate(0deg); }
  .PlusButton .EraseIconRotate,
  .PlayButton .EraseIconRotate,
  .PauseButton .EraseIconRotate,
  .PrevButton .EraseIconRotate,
  .NextButton .EraseIconRotate,
  .SoundOnButton .EraseIconRotate,
  .SoundOffButton .EraseIconRotate,
  .TrashButton .EraseIconRotate,
  .EditButton .EraseIconRotate,
  .EraseButton .EraseIconRotate,
  .ArrowButton .EraseIconRotate,
  .TutorialButton .EraseIconRotate,
  .ShareButton .EraseIconRotate {
    -webkit-animation: FullLeftRotation .3s ease-out;
    transform: rotate(180deg); }
  .PlusButton .Up,
  .PlayButton .Up,
  .PauseButton .Up,
  .PrevButton .Up,
  .NextButton .Up,
  .SoundOnButton .Up,
  .SoundOffButton .Up,
  .TrashButton .Up,
  .EditButton .Up,
  .EraseButton .Up,
  .ArrowButton .Up,
  .TutorialButton .Up,
  .ShareButton .Up {
    -webkit-animation: upRotation .2s ease-out;
    transform: rotate(270deg); }
  .PlusButton .Down,
  .PlayButton .Down,
  .PauseButton .Down,
  .PrevButton .Down,
  .NextButton .Down,
  .SoundOnButton .Down,
  .SoundOffButton .Down,
  .TrashButton .Down,
  .EditButton .Down,
  .EraseButton .Down,
  .ArrowButton .Down,
  .TutorialButton .Down,
  .ShareButton .Down {
    -webkit-animation: downRotation .2s ease-out;
    transform: rotate(90deg); }
  .PlusButton .Left,
  .PlayButton .Left,
  .PauseButton .Left,
  .PrevButton .Left,
  .NextButton .Left,
  .SoundOnButton .Left,
  .SoundOffButton .Left,
  .TrashButton .Left,
  .EditButton .Left,
  .EraseButton .Left,
  .ArrowButton .Left,
  .TutorialButton .Left,
  .ShareButton .Left {
    -webkit-animation: leftRotation .2s ease-out;
    transform: rotate(180deg); }
  .PlusButton .Right,
  .PlayButton .Right,
  .PauseButton .Right,
  .PrevButton .Right,
  .NextButton .Right,
  .SoundOnButton .Right,
  .SoundOffButton .Right,
  .TrashButton .Right,
  .EditButton .Right,
  .EraseButton .Right,
  .ArrowButton .Right,
  .TutorialButton .Right,
  .ShareButton .Right {
    -webkit-animation: rightRotation .2s ease-out;
    transform: rotate(0deg); }
  .PlusButton .Middle-Right,
  .PlayButton .Middle-Right,
  .PauseButton .Middle-Right,
  .PrevButton .Middle-Right,
  .NextButton .Middle-Right,
  .SoundOnButton .Middle-Right,
  .SoundOffButton .Middle-Right,
  .TrashButton .Middle-Right,
  .EditButton .Middle-Right,
  .EraseButton .Middle-Right,
  .ArrowButton .Middle-Right,
  .TutorialButton .Middle-Right,
  .ShareButton .Middle-Right {
    transform: rotate(0deg); }
  .PlusButton .Down-Right,
  .PlayButton .Down-Right,
  .PauseButton .Down-Right,
  .PrevButton .Down-Right,
  .NextButton .Down-Right,
  .SoundOnButton .Down-Right,
  .SoundOffButton .Down-Right,
  .TrashButton .Down-Right,
  .EditButton .Down-Right,
  .EraseButton .Down-Right,
  .ArrowButton .Down-Right,
  .TutorialButton .Down-Right,
  .ShareButton .Down-Right {
    transform: rotate(60deg); }
  .PlusButton .Down-Left,
  .PlayButton .Down-Left,
  .PauseButton .Down-Left,
  .PrevButton .Down-Left,
  .NextButton .Down-Left,
  .SoundOnButton .Down-Left,
  .SoundOffButton .Down-Left,
  .TrashButton .Down-Left,
  .EditButton .Down-Left,
  .EraseButton .Down-Left,
  .ArrowButton .Down-Left,
  .TutorialButton .Down-Left,
  .ShareButton .Down-Left {
    transform: rotate(120deg); }
  .PlusButton .Middle-Left,
  .PlayButton .Middle-Left,
  .PauseButton .Middle-Left,
  .PrevButton .Middle-Left,
  .NextButton .Middle-Left,
  .SoundOnButton .Middle-Left,
  .SoundOffButton .Middle-Left,
  .TrashButton .Middle-Left,
  .EditButton .Middle-Left,
  .EraseButton .Middle-Left,
  .ArrowButton .Middle-Left,
  .TutorialButton .Middle-Left,
  .ShareButton .Middle-Left {
    transform: rotate(180deg); }
  .PlusButton .Up-Left,
  .PlayButton .Up-Left,
  .PauseButton .Up-Left,
  .PrevButton .Up-Left,
  .NextButton .Up-Left,
  .SoundOnButton .Up-Left,
  .SoundOffButton .Up-Left,
  .TrashButton .Up-Left,
  .EditButton .Up-Left,
  .EraseButton .Up-Left,
  .ArrowButton .Up-Left,
  .TutorialButton .Up-Left,
  .ShareButton .Up-Left {
    transform: rotate(240deg); }
  .PlusButton .Up-Right,
  .PlayButton .Up-Right,
  .PauseButton .Up-Right,
  .PrevButton .Up-Right,
  .NextButton .Up-Right,
  .SoundOnButton .Up-Right,
  .SoundOffButton .Up-Right,
  .TrashButton .Up-Right,
  .EditButton .Up-Right,
  .EraseButton .Up-Right,
  .ArrowButton .Up-Right,
  .TutorialButton .Up-Right,
  .ShareButton .Up-Right {
    transform: rotate(300deg); }
  .PlusButton.isEnabled,
  .PlayButton.isEnabled,
  .PauseButton.isEnabled,
  .PrevButton.isEnabled,
  .NextButton.isEnabled,
  .SoundOnButton.isEnabled,
  .SoundOffButton.isEnabled,
  .TrashButton.isEnabled,
  .EditButton.isEnabled,
  .EraseButton.isEnabled,
  .ArrowButton.isEnabled,
  .TutorialButton.isEnabled,
  .ShareButton.isEnabled {
    cursor: pointer; }
    .PlusButton.isEnabled.TutorialButtonStartGreen,
    .PlayButton.isEnabled.TutorialButtonStartGreen,
    .PauseButton.isEnabled.TutorialButtonStartGreen,
    .PrevButton.isEnabled.TutorialButtonStartGreen,
    .NextButton.isEnabled.TutorialButtonStartGreen,
    .SoundOnButton.isEnabled.TutorialButtonStartGreen,
    .SoundOffButton.isEnabled.TutorialButtonStartGreen,
    .TrashButton.isEnabled.TutorialButtonStartGreen,
    .EditButton.isEnabled.TutorialButtonStartGreen,
    .EraseButton.isEnabled.TutorialButtonStartGreen,
    .ArrowButton.isEnabled.TutorialButtonStartGreen,
    .TutorialButton.isEnabled.TutorialButtonStartGreen,
    .ShareButton.isEnabled.TutorialButtonStartGreen {
      background: rgba(12, 146, 0, 0.76); }
    .PlusButton.isEnabled:hover,
    .PlayButton.isEnabled:hover,
    .PauseButton.isEnabled:hover,
    .PrevButton.isEnabled:hover,
    .NextButton.isEnabled:hover,
    .SoundOnButton.isEnabled:hover,
    .SoundOffButton.isEnabled:hover,
    .TrashButton.isEnabled:hover,
    .EditButton.isEnabled:hover,
    .EraseButton.isEnabled:hover,
    .ArrowButton.isEnabled:hover,
    .TutorialButton.isEnabled:hover,
    .ShareButton.isEnabled:hover {
      border-color: #cccccc; }
      .PlusButton.isEnabled:hover .Icon-shape,
      .PlayButton.isEnabled:hover .Icon-shape,
      .PauseButton.isEnabled:hover .Icon-shape,
      .PrevButton.isEnabled:hover .Icon-shape,
      .NextButton.isEnabled:hover .Icon-shape,
      .SoundOnButton.isEnabled:hover .Icon-shape,
      .SoundOffButton.isEnabled:hover .Icon-shape,
      .TrashButton.isEnabled:hover .Icon-shape,
      .EditButton.isEnabled:hover .Icon-shape,
      .EraseButton.isEnabled:hover .Icon-shape,
      .ArrowButton.isEnabled:hover .Icon-shape,
      .TutorialButton.isEnabled:hover .Icon-shape,
      .ShareButton.isEnabled:hover .Icon-shape {
        fill: #cccccc; }
      .PlusButton.isEnabled:hover .Img-Shape,
      .PlayButton.isEnabled:hover .Img-Shape,
      .PauseButton.isEnabled:hover .Img-Shape,
      .PrevButton.isEnabled:hover .Img-Shape,
      .NextButton.isEnabled:hover .Img-Shape,
      .SoundOnButton.isEnabled:hover .Img-Shape,
      .SoundOffButton.isEnabled:hover .Img-Shape,
      .TrashButton.isEnabled:hover .Img-Shape,
      .EditButton.isEnabled:hover .Img-Shape,
      .EraseButton.isEnabled:hover .Img-Shape,
      .ArrowButton.isEnabled:hover .Img-Shape,
      .TutorialButton.isEnabled:hover .Img-Shape,
      .ShareButton.isEnabled:hover .Img-Shape {
        filter: brightness(0.86); }
    .PlusButton.isEnabled:active,
    .PlayButton.isEnabled:active,
    .PauseButton.isEnabled:active,
    .PrevButton.isEnabled:active,
    .NextButton.isEnabled:active,
    .SoundOnButton.isEnabled:active,
    .SoundOffButton.isEnabled:active,
    .TrashButton.isEnabled:active,
    .EditButton.isEnabled:active,
    .EraseButton.isEnabled:active,
    .ArrowButton.isEnabled:active,
    .TutorialButton.isEnabled:active,
    .ShareButton.isEnabled:active {
      border-color: rgba(204, 204, 204, 0.5); }
      .PlusButton.isEnabled:active .Icon-shape,
      .PlayButton.isEnabled:active .Icon-shape,
      .PauseButton.isEnabled:active .Icon-shape,
      .PrevButton.isEnabled:active .Icon-shape,
      .NextButton.isEnabled:active .Icon-shape,
      .SoundOnButton.isEnabled:active .Icon-shape,
      .SoundOffButton.isEnabled:active .Icon-shape,
      .TrashButton.isEnabled:active .Icon-shape,
      .EditButton.isEnabled:active .Icon-shape,
      .EraseButton.isEnabled:active .Icon-shape,
      .ArrowButton.isEnabled:active .Icon-shape,
      .TutorialButton.isEnabled:active .Icon-shape,
      .ShareButton.isEnabled:active .Icon-shape {
        fill: rgba(204, 204, 204, 0.5); }
      .PlusButton.isEnabled:active .Img-Shape,
      .PlayButton.isEnabled:active .Img-Shape,
      .PauseButton.isEnabled:active .Img-Shape,
      .PrevButton.isEnabled:active .Img-Shape,
      .NextButton.isEnabled:active .Img-Shape,
      .SoundOnButton.isEnabled:active .Img-Shape,
      .SoundOffButton.isEnabled:active .Img-Shape,
      .TrashButton.isEnabled:active .Img-Shape,
      .EditButton.isEnabled:active .Img-Shape,
      .EraseButton.isEnabled:active .Img-Shape,
      .ArrowButton.isEnabled:active .Img-Shape,
      .TutorialButton.isEnabled:active .Img-Shape,
      .ShareButton.isEnabled:active .Img-Shape {
        filter: opacity(0.5); }

.Icon {
  display: block;
  width: 30px;
  height: 30px; }

.Icon-shape {
  fill: #ffffff; }

.ProgressBar,
.VolumeSlider {
  position: relative;
  background: #eee;
  border-radius: 4px; }
  .ProgressBar-elapsed, .ProgressBar-value,
  .VolumeSlider-elapsed,
  .VolumeSlider-value {
    background: #878C88;
    border-radius: 4px; }
  .ProgressBar-seek,
  .VolumeSlider-seek {
    position: absolute;
    cursor: pointer; }
  .ProgressBar-handle,
  .VolumeSlider-handle {
    position: absolute;
    width: 16px;
    height: 16px;
    background: #ffffff;
    border-radius: 100%;
    transform: scale(0);
    transition: transform 0.2s; }
  .ProgressBar.isSeekable:hover .ProgressBar-handle,
  .ProgressBar.isSeekable:hover .VolumeSlider-handle, .ProgressBar.isEnabled:hover .ProgressBar-handle,
  .ProgressBar.isEnabled:hover .VolumeSlider-handle,
  .VolumeSlider.isSeekable:hover .ProgressBar-handle,
  .VolumeSlider.isSeekable:hover .VolumeSlider-handle,
  .VolumeSlider.isEnabled:hover .ProgressBar-handle,
  .VolumeSlider.isEnabled:hover .VolumeSlider-handle {
    transform: scale(1); }
  .ProgressBar.isSeekable:hover .ProgressBar-intent,
  .ProgressBar.isSeekable:hover .VolumeSlider-intent, .ProgressBar.isEnabled:hover .ProgressBar-intent,
  .ProgressBar.isEnabled:hover .VolumeSlider-intent,
  .VolumeSlider.isSeekable:hover .ProgressBar-intent,
  .VolumeSlider.isSeekable:hover .VolumeSlider-intent,
  .VolumeSlider.isEnabled:hover .ProgressBar-intent,
  .VolumeSlider.isEnabled:hover .VolumeSlider-intent {
    position: absolute;
    background: rgba(0, 0, 0, 0.1); }
  .ProgressBar.isSeekable .ProgressBar-elapsed,
  .ProgressBar.isSeekable .VolumeSlider-value, .ProgressBar.isEnabled .ProgressBar-elapsed,
  .ProgressBar.isEnabled .VolumeSlider-value,
  .VolumeSlider.isSeekable .ProgressBar-elapsed,
  .VolumeSlider.isSeekable .VolumeSlider-value,
  .VolumeSlider.isEnabled .ProgressBar-elapsed,
  .VolumeSlider.isEnabled .VolumeSlider-value {
    background: #ffffff; }

.ProgressBar {
  height: 8px;
  margin: 10px 0; }
  .ProgressBar-elapsed {
    height: 100%;
    position: absolute;
    top: 0;
    left: 0; }
  .ProgressBar-buffered {
    height: 100%;
    border-radius: 4px;
    background: #d3d3d3; }
  .ProgressBar-seek {
    top: -6px;
    right: 0;
    bottom: -6px;
    left: 0; }
  .ProgressBar-handle {
    top: 0;
    margin: -4px 0 0 -8px; }
  .ProgressBar.isSeekable:hover .ProgressBar-handle {
    transform: scale(1); }
  .ProgressBar.isSeekable:hover .ProgressBar-intent {
    top: 0;
    left: 0;
    height: 100%; }
  .ProgressBar.isLoading {
    opacity: 0.5;
    background: #ccc;
    animation: barLoading 2s infinite; }

.VolumeSlider-value {
  position: absolute; }

.VolumeSlider.isHorizontal {
  width: 100px;
  height: 8px;
  transition: width 0.3s, height 0.05s; }

.VolumeSlider.isHorizontal .VolumeSlider-value {
  height: 100%;
  left: 0; }

.VolumeSlider.isHorizontal .VolumeSlider-handle {
  margin: -4px 0 0 -8px; }

.VolumeSlider.isVertical {
  width: 8px;
  height: 100px;
  transition: width 0.05s, height 0.3s; }

.VolumeSlider.isVertical .VolumeSlider-value {
  bottom: 0;
  width: 100%; }

.VolumeSlider.isVertical .VolumeSlider-handle {
  left: 0;
  margin: 0 0 -8px -4px; }

.VolumeSlider-seek {
  left: -6px;
  top: 0;
  right: -6px;
  bottom: 0; }

.VolumeSlider.isEnabled:hover .VolumeSlider-handle {
  transform: scale(1); }

.VolumeSlider.isEnabled:hover .VolumeSlider-intent {
  bottom: 0;
  left: 0;
  width: 100%; }

.midi-toys-app {
  position: absolute;
  text-align: center;
  border-radius: 5px;
  width: 100%;
  height: 100%; }

.icons8-credit {
  position: absolute;
  z-index: 1;
  color: #010101; }

#sketch-holder {
  background-color: transparent;
  margin: auto;
  cursor: none; }

div.introjs-helperLayer {
  background-color: rgba(12, 146, 0, 0.76); }

.no-copy {
  -webkit-user-select: none;
  /* Chrome all / Safari all */
  -moz-user-select: none;
  /* Firefox all */
  -ms-user-select: none;
  /* IE 10+ */
  user-select: none;
  /* Likely future */ }

body {
  font-family: 'Open Sans',Helvetica,Arial,sans-serif;
  background-color: black;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  margin: 0; }

.aButton {
  margin: auto;
  background-color: transparent;
  box-shadow: 1px 8px 8px white;
  padding: 1em 1.5em;
  position: relative;
  text-decoration: none;
  width: 136px;
  border: 2px solid white;
  border-radius: 5px;
  color: white;
  display: block;
  margin-top: 4%; }

a.aButton:hover {
  background-color: white;
  color: black;
  cursor: pointer;
  -webkit-transition: 300ms;
  -moz-transition: 300ms;
  transition: 300ms; }

a.aButton:active {
  box-shadow: none;
  top: 5px; }

#fullscreen {
  z-index: -999;
  min-height: 100%;
  min-width: 1024px;
  width: 100%;
  height: auto;
  position: fixed;
  top: 0;
  left: 0; }

#avatar {
  height: 180px;
  border-radius: 100%;
  border: 5px solid white;
  margin: auto; }

select {
  background-color: transparent;
  color: white;
  border-radius: 2px;
  padding: 5px 0px 5px 0px;
  margin: 5px 5px;
  width: 145px;
  text-align: center;
  border-color: white;
  border-width: 2px;
  border-style: solid;
  border-radius: 15px; }

.description {
  display: none; }

.image-credit {
  display: block;
  border-style: none;
  text-align: center; }

@media (max-width: 450px) {
  #midiOut {
    display: none; } }

.edit-options {
  display: block; }

.edit-options-member {
  display: inline-block;
  vertical-align: top; }

.edit-options-member-h1 {
  color: white; }

.edit-options-button {
  width: 75px;
  margin-left: 10px;
  margin-right: 10px; }

option {
  color: black;
  background-color: transparent;
  border: none;
  border-radius: 2px;
  width: 136px;
  text-align: center; }

/* ---- reset ---- */
body {
  margin: 0;
  font: normal 75% Arial, Helvetica, sans-serif; }

canvas {
  display: block;
  vertical-align: bottom; }

/* ---- particles.js container ---- */
#particles-js {
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: black;
  background-image: url("");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 50% 50%; }

.forward-diag {
  transform: rotate(45deg); }

.backward-diag {
  transform: rotate(-45deg); }

.horizontal {
  transform: rotate(90deg); }

.rangeslider__fill {
  background: transparent;
  position: absolute;
  top: 0px;
  left: 0px;
  height: 100%;
  border-radius: 20px 0 0 20px;
  display: block; }

.slider-container {
  display: block;
  width: 223px; }

.rangeslider {
  display: block;
  position: relative;
  background: transparent;
  margin: 2px;
  left: -4px; }

.rangeslider--horizontal {
  height: 50px;
  width: 100%;
  border: 2px solid white;
  border-radius: 27px; }

.rangeslider__handle {
  background: transparent;
  top: -2px;
  border: 2px solid white;
  cursor: pointer;
  display: inline-block;
  width: 50px;
  height: 50px;
  position: absolute;
  background-size: 100%;
  -moz-box-shadow: 0 0 8px rgba(0, 0, 0, 0.3);
  -webkit-box-shadow: 0 0 8px rgba(0, 0, 0, 0.3);
  box-shadow: 0 0 8px rgba(0, 0, 0, 0.3);
  -moz-border-radius: 50%;
  -webkit-border-radius: 50%;
  border-radius: 50%;
  transform: translateX(-2px); }
  .rangeslider__handle:hover {
    border-color: #cccccc; }
    .rangeslider__handle:hover .Icon-shape {
      fill: #cccccc; }
    .rangeslider__handle:hover .Img-Shape {
      filter: brightness(0.86); }
  .rangeslider__handle:active {
    border-color: rgba(204, 204, 204, 0.5); }
    .rangeslider__handle:active .Icon-shape {
      fill: rgba(204, 204, 204, 0.5); }
    .rangeslider__handle:active .Img-Shape {
      filter: opacity(0.5); }

.slider-icon-container {
  position: relative; }

.min-icon {
  position: absolute;
  top: -44px;
  left: 13px;
  pointer-events: none; }

.max-icon {
  position: absolute;
  top: -44px;
  right: 13px;
  pointer-events: none; }

.app-title-div {
  position: relative; }
  .app-title-div h1 {
    margin-top: 22px;
    margin-bottom: 14px;
    margin-left: 22px;
    margin-right: 22px;
    color: white;
    font-family: 'Helvetica Neue', sans-serif;
    font-weight: bold;
    letter-spacing: -3px;
    font-size: 60px;
    line-height: 40px;
    text-align: center; }
  .app-title-div h2 {
    color: white;
    font-family: 'Open Sans', sans-serif;
    font-size: 21px;
    font-weight: 300;
    margin: 0;
    text-align: center; }
  .app-title-div p {
    color: #685206;
    font-family: 'Helvetica Neue', sans-serif;
    font-size: 14px;
    line-height: 24px;
    margin: 0 0 24px;
    text-align: justify;
    text-justify: inter-word; }

.introjs-tooltiptext {
  font-size: 18px; }

a.introjs-button {
  font: 14px/normal sans-serif; }

.introjs-tooltip .introjs-bullets ul li a {
  width: 8px;
  height: 8px; }

.spacer-div-next-to-trash {
  width: 224px;
  display: inline-block; }
